<div class="main users-index">
  <div class="kohoubi-header">
    <div class="header-logo">こほうび</div>
    <ul class='user-menu'>
      <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "user-menu-btn" %></li> 
        <li><%= link_to 'やることをきめる', new_task_path, class: "user-menu-btn" %></li>
      <% else %>  
        <li><%= link_to 'ログイン', new_user_session_path, class: "user-menu-btn" %></li>
        <li><%= link_to 'しんきとうろく', new_user_registration_path, class: "user-menu-btn" %></li>
      <% end %> 
    </ul>
  </div>  
  <div class="users-index-contents">
    <div class="users-index-title">ユーザー一覧</div>
    <div class="users-index-item">
    <% @users.each do |user| %>
      <div class="user-index-list">
        <%= link_to user.nickname, user_path(user), class: "user-index-name" %>
      </div>  
    <% end %>
    </div>
  </div>  
</div>